name: Ruby

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby_version: [3.2, 3.3, 3.4]

    steps:
      - uses: actions/checkout@v3.3.0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: Build and test with Rake
        env:
          CI: true
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rake
